
h1{
    font-weight: bold;
    font-style: italic;
    font-family:'Poppins' ,sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
}

.phones{
    background-color: #bbb;
}

#Features{
    background-color: #bbb;
}
.first_color {
  background-color: orange;
}
.second_color{
  background-color: yellow;
}

table {
    border-collapse: collapse;
    border: 2px dashed ;
}
th, td {
    text-align: center;
    border: 1px solid;
}

.container{
  position: relative;
  height: 720px;
  width: 480px;
  animation: fadeImage1 8s ease-in-out infinite;
  transition: opacity 0.5s ease-in-out;
}

.container:hover{
    animation-play-state: paused;
}


@keyframes fadeImage1{
  0%{
    background-image: url("./images/iphone.png");
    background-size: 100%;
    width: 480px;
    height:650px;
 }
 25%{
  background-image: url("./images/xiaomi.png");
  background-size: 100%;
  width: 480px;
  height:650px;
 }
  50%{

    background-image: url("./images/samsung.png");
    background-size: 100%;
    width: 480px;
    height:600px;
  }
  100%{
    background-image: url("./images/huawei.png");
    background-size: 100%;
    width: 480px;
    height:600px;
  }
}